<h1>users#index</h1>

<% @users.each do |user| %>

<side>
<div class = "col-md-8 offset-md-1">
  <h2>name</h2>
  <%= user.name %>
  <p><%= link_to "show", user_path(user.id) %></p>
</div>
</side>
</main>
<% end %>