<h1>Books#show</h1>



<div>
  <p>Book名：<%= @book.title %></p>
  <p>説明：<%= @book.body %></p>

  <% if @book.user == current_user %>
　 <%= link_to "削除", book_path(@book), method: :delete %>
  <%= link_to "編集", edit_book_path(@book.id) %>

  <% end %>
</div>

 